<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>URL shortener</h1>
    <div>
        <form method="POST" action="/url">
            <label for="">Enter your original ULR</label>
            <input
             type="text" 
             placeholder="https://example.com" name="url" 
             >
            <button type="submit">Generate</button>
        </form>
    </div>
</body>

</html>